<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Gerenciador de carga/volume 
  </h1>
  <img src="../assets/img/example.jpg" alt="">
  <h1>Digite as dimensões do seu espaço ou recipiente</h1>
  <div>
    <h1>Altura</h1>
    <input type="number"  [(ngModel)]="dimensions.height">    
    <h1>Comprimento</h1>
    <input type="number" [(ngModel)]="dimensions.length">
    <h1>Largura</h1>
    <input type="number" [(ngModel)]="dimensions.width">
  </div>
  
  
  <button style="margin-top: 15px; width: 100px;" (click)="send()">Ok</button>
</div>
